<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __('attorney_detail_emmanuel.title') %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- team detail html start -->
    <section class="team-detail-section">
        <div class="container">
            <div class="team-detail-info">
                <div class="row g-0">
                    <div class="col-md-5">
                        <div class="author-img-wrapper">
                            <figure class="team-fig">
                                <img src="/images/Meemma.jpg" alt="<%= __('attorney_detail_emmanuel.name') %>">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="author-bio-date">
                            <h6 class="author-title"><%= __('attorney_detail_emmanuel.position') %></h6>
                            <h2 class="author-name">
                                <%= __('attorney_detail_emmanuel.name') %>
                            </h2>
                            <p class="author-disc">
                                <%= __('attorney_detail_emmanuel.bio') %>
                            </p>
                            <div class="author-contact-info">
                                <ul>
                                    <li>
                                        <strong><%= __('attorney_detail_emmanuel.email') %> : </strong>
                                        <a href="mailto:emmanuelmatongog@gmail.com">emmanuelmatongog@gmail.com</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_emmanuel.phone') %> : </strong>
                                        <a href="tel:+243999632302">+243 999 632 302</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_emmanuel.specializations') %> : </strong>
                                        <span><%= __('attorney_page.positions.private_judicial') %>, <%= __('services.family') %>, <%= __('attorney_detail_emmanuel.minors_law_title') %>, <%= __('attorney_detail_emmanuel.elderly_law_title') %>, <%= __('attorney_detail_emmanuel.property_law_title') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_emmanuel.expertise_areas') %> : </strong>
                                        <span><%= __('attorney_page.positions.private_judicial') %>, <%= __('services.family') %>, <%= __('attorney_detail_emmanuel.minors_law_title') %>, <%= __('attorney_detail_emmanuel.elderly_law_title') %>, <%= __('attorney_detail_emmanuel.property_law_title') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_emmanuel.languages') %> : </strong>
                                        <span>Français, Lingala, Swahili, Kiluba</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="qualification">
                                <h5 class="qualification-title"><%= __('attorney_detail_emmanuel.education_title') %> :</h5>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_emmanuel.education_1') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-scale-balanced"></i>
                                        <%= __('attorney_detail_emmanuel.education_2') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-gavel"></i>
                                        <%= __('attorney_detail_emmanuel.education_3') %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-info">
                    <h5 class="experience-heading"><%= __('attorney_detail_emmanuel.professional_experience') %> :</h5>
                    <ul class="experience-list">
                        <li><strong><%= __('attorney_detail_emmanuel.exp_1') %></strong></li>
                    </ul>
                </div>
                <div class="experience-wrappered row">
                    <div class="col-md-6">
                        <div class="skill-container">
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_emmanuel.skill_1') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="92"></div>
                                    <span class="progress-percent">92%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_emmanuel.skill_2') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="90"></div>
                                    <span class="progress-percent">90%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_emmanuel.skill_3') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="94"></div>
                                    <span class="progress-percent">94%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="experience-list">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-gavel"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_1') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-microphone"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_2') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-file-contract"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_3') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-comments"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_4') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-user-tie"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_5') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-family"></i>
                                    <%= __('attorney_detail_emmanuel.achievement_6') %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Section Detailed Specialization Areas -->
                <div class="specialization-details-section mt-5">
                    <h5 class="experience-heading"><%= __('attorney_detail_emmanuel.specialization_detail_title') %> :</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-heart"></i> <%= __('attorney_detail_emmanuel.family_law_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_emmanuel.family_law_list_1') %></li>
                                    <li><%= __('attorney_detail_emmanuel.family_law_list_2') %></li>
                                    <li><%= __('attorney_detail_emmanuel.family_law_list_3') %></li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-child"></i> <%= __('attorney_detail_emmanuel.minors_law_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_emmanuel.minors_law_list_1') %></li>
                                    <li><%= __('attorney_detail_emmanuel.minors_law_list_2') %></li>
                                    <li><%= __('attorney_detail_emmanuel.minors_law_list_3') %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-user-friends"></i> <%= __('attorney_detail_emmanuel.elderly_law_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_emmanuel.elderly_law_list_1') %></li>
                                    <li><%= __('attorney_detail_emmanuel.elderly_law_list_2') %></li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-home"></i> <%= __('attorney_detail_emmanuel.property_law_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_emmanuel.property_law_list_1') %></li>
                                    <li><%= __('attorney_detail_emmanuel.property_law_list_2') %></li>
                                    <li><%= __('attorney_detail_emmanuel.property_law_list_3') %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section for other attorneys -->
                <div class="other-attorneys-section mt-5">
                    <div class="section-header text-center">
                        <h3 class="section-title"><%= __('attorney_detail_emmanuel.other_attorneys_title') %></h3>
                        <p class="section-subtitle"><%= __('attorney_detail_emmanuel.other_attorneys_subtitle') %></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/attorney" class="button-primary"><%= __('attorney_detail_emmanuel.other_attorneys_btn') %></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('footer') %>