<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __("attorney_page.title") %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- attorney team page html start -->
    <div class="team-section">
        <div class="container">
            <div class="attorney-team-wrapper">
                <!-- Maître Jethro -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mejethro.jpg" alt="<%= __("team.master_jethro") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.managing_partner") %><br>
                                <%= __("attorney_page.positions.economic_social") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail"><%= __("team.master_jethro") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810369919">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 810 369 919
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:Jethrotshimbu@yahoo.fr">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                Jethrotshimbu@yahoo.fr
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <!-- Maître Mizou -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mensanda.jpg" alt="<%= __("team.master_mizou") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.partner") %><br>
                                <%= __("attorney_page.positions.ohada_international") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-mizou"><%= __("team.master_mizou") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243859182858">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 859 182 858
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:cabkin@cabmuamba.org">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                cabkin@cabmuamba.org
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <!-- Maître John -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Mengoy.jpg" alt="<%= __("team.master_ngoy") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.partner") %><br>
                                <%= __("attorney_page.positions.economic_social") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-john"><%= __("team.master_ngoy") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243810648832">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 810 648 832
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:John.ngoieki@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                John.ngoieki@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <!-- Maître Olga -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Meolga.jpg" alt="<%= __("team.master_olga") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.associate") %><br>
                                <%= __("attorney_page.positions.private_judicial") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-olga"><%= __("team.master_olga") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243972038147">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 972 038 147
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:okasongo88@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt"> 
                                                okasongo88@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                
                <!-- Maître Daniel -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Medanis.jpg" alt="<%= __("team.master_daniel") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.associate") %><br>
                                <%= __("attorney_page.positions.private_judicial") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-daniel"><%= __("team.master_daniel") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+24398752477">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 987 524 77
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:danielkyungu35@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                danielkyungu35@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                
                <!-- Maître Emmanuel -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Meemma.jpg" alt="<%= __("team.master_emmanuel") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.associate") %><br>
                                <%= __("attorney_page.positions.family_civil") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-emmanuel"><%= __("team.master_emmanuel") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243999632302">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 999 632 302
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:emmanuelmatongo9@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                emmanuelmatongo9@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>

                <!-- Maître Kabamba -->
                <div class="team-item">
                    <figure class="team-img">
                        <img src="/images/Menitz.jpg" alt="<%= __("team.master_kabamba") %>">
                    </figure>
                    <div class="team-content">
                        <aside class="auhtor-detail">
                            <span class="author-desc">
                                <%= __("attorney_page.positions.associate") %><br>
                                <%= __("attorney_page.positions.public_criminology") %><br>
                            </span>
                            <h5 class="author-name">
                                <a href="/attorney-detail-seraphin"><%= __("team.master_kabamba") %></a>
                            </h5>
                        </aside>
                        <aside class="author-info">
                            <div class="contact-link">
                                <ul>
                                    <li>
                                        <a href="tel:+243990183829">
                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                            <span class="contact-link-txt">
                                                +243 990 183 829
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:kabambanitz@gmail.com">
                                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                                            <span class="contact-link-txt">
                                                kabambanitz@gmail.com
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socail-link">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="<%= __("attorney_page.social.facebook") %>">
                                            <i class="fab fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="<%= __("attorney_page.social.twitter") %>">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="<%= __("attorney_page.social.instagram") %>">
                                            <i class="fab fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.whatsapp.com" target="_blank" title="<%= __("attorney_page.social.whatsapp") %>">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com" target="_blank" title="<%= __("attorney_page.social.linkedin") %>">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer part -->
<%- include('footer') %>