<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __('attorney_detail_mizou.title') %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- team detail html start -->
    <section class="team-detail-section">
        <div class="container">
            <div class="team-detail-info">
                <div class="row g-0">
                    <div class="col-md-5">
                        <div class="author-img-wrapper">
                            <figure class="team-fig">
                                <img src="/images/Mensanda.jpg" alt="<%= __('attorney_detail_mizou.name') %>">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="author-bio-date">
                            <h6 class="author-title"><%= __('attorney_detail_mizou.position') %></h6>
                            <h2 class="author-name">
                                <%= __('attorney_detail_mizou.name') %>
                            </h2>
                            <p class="author-disc">
                                <%= __('attorney_detail_mizou.bio') %>
                            </p>
                            <div class="author-contact-info">
                                <ul>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.email') %> : </strong>
                                        <a href="mailto:cabkin@cabmuamba.org">cabkin@cabmuamba.org</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.phone') %> : </strong>
                                        <a href="tel:+243859182858">+243 859 182 858</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.bars') %> : </strong>
                                        <span><%= __('attorney_detail_mizou.achievement_2') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.specializations') %> : </strong>
                                        <span><%= __('services.ohada') %>, Transaction Tax, <%= __('practice_area.schedule.expertise_list.public') %>, PPP, Infrastructures, Fiscalité, <%= __('services.mining') %>, <%= __('services.ohada') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.expertise_areas') %> : </strong>
                                        <a href="/practice-area-ohada"><%= __('services.ohada') %></a>,
                                        <a href="/practice-area-mines"><%= __('services.mining') %></a>,
                                        <a href="/practice-area-detail"><%= __('services.commercial') %></a>,
                                        <span><%= __('practice_area.schedule.expertise_list.public') %></span>,
                                        <span>Fiscalité</span>,
                                        <span>Infrastructures</span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.international_experience') %> : </strong>
                                        <span>France, Afrique, États-Unis</span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_mizou.languages') %> : </strong>
                                        <span>Français, English, Nederlands</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="qualification">
                                <h5 class="qualification-title"><%= __('attorney_detail_mizou.education_title') %> :</h5>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                        <%= __('attorney_detail_mizou.education_1') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_mizou.education_2') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_mizou.education_3') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_mizou.education_4') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_mizou.education_5') %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-info">
                    <h5 class="experience-heading"><%= __('attorney_detail_mizou.professional_experience') %> :</h5>
                    <ul class="experience-list">
                        <li><strong><%= __('attorney_detail_mizou.exp_1') %></strong></li>
                        <li><strong><%= __('attorney_detail_mizou.exp_2') %></strong></li>
                        <li><strong><%= __('attorney_detail_mizou.exp_3') %></strong></li>
                        <li><strong><%= __('attorney_detail_mizou.exp_4') %></strong></li>
                        <li><strong><%= __('attorney_detail_mizou.exp_5') %></strong></li>
                        <li><strong><%= __('attorney_detail_mizou.exp_6') %></strong></li>
                    </ul>
                </div>
                <div class="experience-wrappered row">
                    <div class="col-md-6">
                        <div class="skill-container">
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_mizou.skill_1') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="96"></div>
                                    <span class="progress-percent">96%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_mizou.skill_2') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="94"></div>
                                    <span class="progress-percent">94%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_mizou.skill_3') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="92"></div>
                                    <span class="progress-percent">92%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="experience-list">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-globe-europe"></i>
                                    <%= __('attorney_detail_mizou.achievement_1') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-balance-scale"></i>
                                    <%= __('attorney_detail_mizou.achievement_2') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-file-contract"></i>
                                    <%= __('attorney_detail_mizou.achievement_3') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-oil-well"></i>
                                    <%= __('attorney_detail_mizou.achievement_4') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-language"></i>
                                    <%= __('attorney_detail_mizou.achievement_5') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-book"></i>
                                    <%= __('attorney_detail_mizou.achievement_6') %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Section International Expertise -->
                <div class="specialization-details-section mt-5">
                    <h5 class="experience-heading"><%= __('attorney_detail_mizou.international_expertise_title') %> :</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-landmark"></i> <%= __('attorney_detail_mizou.ohada_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_mizou.ohada_list_1') %></li>
                                    <li><%= __('attorney_detail_mizou.ohada_list_2') %></li>
                                    <li><%= __('attorney_detail_mizou.ohada_list_3') %></li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-building-columns"></i> <%= __('attorney_detail_mizou.public_business_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_mizou.public_business_list_1') %></li>
                                    <li><%= __('attorney_detail_mizou.public_business_list_2') %></li>
                                    <li><%= __('attorney_detail_mizou.public_business_list_3') %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="specialization-item">
                                <h6><i class="fas fa-mountain"></i> <%= __('attorney_detail_mizou.natural_resources_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_mizou.natural_resources_list_1') %></li>
                                    <li><%= __('attorney_detail_mizou.natural_resources_list_2') %></li>
                                    <li><%= __('attorney_detail_mizou.natural_resources_list_3') %></li>
                                </ul>
                            </div>
                            <div class="specialization-item">
                                <h6><i class="fas fa-plane"></i> <%= __('attorney_detail_mizou.international_practice_title') %></h6>
                                <ul>
                                    <li><%= __('attorney_detail_mizou.international_practice_list_1') %></li>
                                    <li><%= __('attorney_detail_mizou.international_practice_list_2') %></li>
                                    <li><%= __('attorney_detail_mizou.international_practice_list_3') %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Section for other attorneys -->
                <div class="other-attorneys-section mt-5">
                    <div class="section-header text-center">
                        <h3 class="section-title"><%= __('attorney_detail_mizou.other_attorneys_title') %></h3>
                        <p class="section-subtitle"><%= __('attorney_detail_mizou.other_attorneys_subtitle') %></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/attorney" class="button-primary"><%= __('attorney_detail_mizou.other_attorneys_btn') %></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('footer') %>