<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __('attorney_detail_daniel.title') %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <!-- team detail html start -->
    <section class="team-detail-section">
        <div class="container">
            <div class="team-detail-info">
                <div class="row g-0">
                    <div class="col-md-5">
                        <div class="author-img-wrapper">
                            <figure class="team-fig">
                                <img src="/images/Medanis.jpg" alt="<%= __('attorney_detail_daniel.name') %>">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="author-bio-date">
                            <h6 class="author-title"><%= __('attorney_detail_daniel.position') %></h6>
                            <h2 class="author-name">
                                <%= __('attorney_detail_daniel.name') %>
                            </h2>
                            <p class="author-disc">
                                <%= __('attorney_detail_daniel.bio') %>
                            </p>
                            <div class="author-contact-info">
                                <ul>
                                    <li>
                                        <strong><%= __('attorney_detail_daniel.email') %> : </strong>
                                        <a href="mailto:danielkyungu35@gmail.com">danielkyungu35@gmail.com</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_daniel.phone') %> : </strong>
                                        <a href="tel:+24398752477">+243 987 524 77</a>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_daniel.specializations') %> : </strong>
                                        <span><%= __('attorney_page.positions.private_judicial') %>, <%= __('services.commercial') %>, <%= __('services.family') %>, <%= __('services.mining') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_daniel.expertise_areas') %> : </strong>
                                        <a href="/practice-area-detail"><%= __('services.commercial') %></a>,
                                        <a href="/practice-area-mines"><%= __('services.mining') %></a>,
                                        <span><%= __('attorney_page.positions.private_judicial') %></span>,
                                        <span><%= __('services.family') %></span>
                                    </li>
                                    <li>
                                        <strong><%= __('attorney_detail_daniel.languages') %> : </strong>
                                        <span>Français, English, Lingala, Swahili, Kiluba</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="qualification">
                                <h5 class="qualification-title"><%= __('attorney_detail_daniel.education_title') %> :</h5>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_daniel.education_1') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                        <%= __('attorney_detail_daniel.education_2') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_daniel.education_3') %>
                                    </h6>
                                </div>
                                <div class="experience-detail">
                                    <h6 class="certificate">
                                        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                                        <%= __('attorney_detail_daniel.education_4') %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experience-info">
                    <h5 class="experience-heading"><%= __('attorney_detail_daniel.professional_experience') %> :</h5>
                    <ul class="experience-list">
                        <li><strong><%= __('attorney_detail_daniel.exp_1') %></strong></li>
                        <li><strong><%= __('attorney_detail_daniel.exp_2') %></strong></li>
                        <li><strong><%= __('attorney_detail_daniel.exp_3') %></strong></li>
                        <li><strong><%= __('attorney_detail_daniel.exp_4') %></strong></li>
                        <li><strong><%= __('attorney_detail_daniel.exp_5') %></strong></li>
                    </ul>
                </div>
                <div class="experience-wrappered row">
                    <div class="col-md-6">
                        <div class="skill-container">
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_daniel.skill_1') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="94"></div>
                                    <span class="progress-percent">94%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_daniel.skill_2') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="96"></div>
                                    <span class="progress-percent">96%</span>
                                </div>
                            </div>
                            <div class="skill-wrapper">
                                <p class="skill-titile"><%= __('attorney_detail_daniel.skill_3') %></p>
                                <div class="progress-wrapper">
                                    <div class="ab-progress example" data-progress data-value="90"></div>
                                    <span class="progress-percent">90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="experience-list">
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fas fa-book"></i>
                                    <%= __('attorney_detail_daniel.achievement_1') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-network-wired"></i>
                                    <%= __('attorney_detail_daniel.achievement_2') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-gavel"></i>
                                    <%= __('attorney_detail_daniel.achievement_3') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-users"></i>
                                    <%= __('attorney_detail_daniel.achievement_4') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-language"></i>
                                    <%= __('attorney_detail_daniel.achievement_5') %>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fas fa-university"></i>
                                    <%= __('attorney_detail_daniel.achievement_6') %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Section Publications -->
                <div class="publications-section mt-5">
                    <h5 class="experience-heading"><%= __('attorney_detail_daniel.publications_title') %> :</h5>
                    <div class="publications-list">
                        <ul>
                            <li><strong><%= __('attorney_detail_daniel.publication_1') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_2') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_3') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_4') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_5') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_6') %></strong></li>
                            <li><strong><%= __('attorney_detail_daniel.publication_7') %></strong></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Section for other attorneys -->
                <div class="other-attorneys-section mt-5">
                    <div class="section-header text-center">
                        <h3 class="section-title"><%= __('attorney_detail_daniel.other_attorneys_title') %></h3>
                        <p class="section-subtitle"><%= __('attorney_detail_daniel.other_attorneys_subtitle') %></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/attorney" class="button-primary"><%= __('attorney_detail_daniel.other_attorneys_btn') %></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('footer') %>