<%- include('header') %>
        <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
                    <div class="container">
                        <div class="inner-banner-content">
                            <!-- <h1 class="inner-title">Politique</h1> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Inner Banner html end-->
            <!-- legal notice archive start -->
            <div class="policy-page-section">
                <div class="container">
                    <div class="policy-inner">
                        <h3>
                            <%= __('legal_notice.privacy_policy_title') %>
                        </h3>
                        <p>
                            <%= __('legal_notice.intro_1') %>
                        </p>
                        <p>
                            <%= __('legal_notice.intro_2') %>
                        </p>
                        <p>
                            <%= __('legal_notice.intro_3') %>
                        </p>
                        <h5><%= __('legal_notice.consent') %></h5>
                        <p>
                            <%= __('legal_notice.consent_text') %>
                        </p>
                        <h5><%= __('legal_notice.information_collect') %></h5>
                        <p>
                            <%= __('legal_notice.information_collect_text_1') %>
                        </p>
                        <p>
                            <%= __('legal_notice.information_collect_text_2') %>
                        </p>
                        <p>
                            <%= __('legal_notice.information_collect_text_3') %>
                        </p>
                        <h5><%= __('legal_notice.how_use_information') %></h5>
                        <p>
                            <%= __('legal_notice.how_use_information_intro') %>
                        </p>
                        <ul>
                            <li><%= __('legal_notice.use_list_1') %></li>
                            <li><%= __('legal_notice.use_list_2') %></li>
                            <li><%= __('legal_notice.use_list_3') %></li>
                            <li><%= __('legal_notice.use_list_4') %></li>
                            <li><%= __('legal_notice.use_list_5') %></li>
                            <li><%= __('legal_notice.use_list_6') %></li>
                            <li><%= __('legal_notice.use_list_7') %></li>
                        </ul>
                        <h5><%= __('legal_notice.log_files') %></h5>
                        <p>
                            <%= __('legal_notice.log_files_text') %>
                        </p>
                        <h5><%= __('legal_notice.advertising_partners') %></h5>
                        <p>
                            <%= __('legal_notice.advertising_partners_text_1') %>
                        </p>
                        <p>
                            <%= __('legal_notice.advertising_partners_text_2') %>
                        </p>
                        <p>
                            <%= __('legal_notice.advertising_partners_text_3') %>
                        </p>
                        <h5><%= __('legal_notice.third_party_policies') %></h5>
                        <p>
                            <%= __('legal_notice.third_party_policies_text_1') %>
                        </p>
                        <p>
                            <%= __('legal_notice.third_party_policies_text_2') %>
                        </p>
                        <h5><%= __('legal_notice.ccpa_rights') %></h5>
                        <p>
                            <%= __('legal_notice.ccpa_intro') %>
                        </p>
                        <p>
                            <%= __('legal_notice.ccpa_right_1') %>
                        </p>
                        <p>
                            <%= __('legal_notice.ccpa_right_2') %>
                        </p>
                        <p>
                            <%= __('legal_notice.ccpa_right_3') %>
                        </p>
                        <p>
                            <%= __('legal_notice.ccpa_response') %>
                        </p>
                        <h5><%= __('legal_notice.gdpr_rights') %></h5>
                        <p>
                            <%= __('legal_notice.gdpr_intro') %>
                        </p>
                        <p>
                            <%= __('legal_notice.gdpr_right_access') %>
                        </p>
                        <p>
                            <%= __('legal_notice.gdpr_right_rectification') %>
                        </p>
                        
                        <p>
                            <%= __('legal_notice.gdpr_right_erasure') %>
                        </p>
                        <p>
                            <%= __('legal_notice.gdpr_right_restrict') %>
                        </p>
                        <p>
                            <%= __('legal_notice.gdpr_right_object') %>
                        </p>
                        <p>
                            <%= __('legal_notice.gdpr_right_portability') %>
                        </p>
                        <p>
                            <%- __('legal_notice.gdpr_response') %>
                        </p>
                    </div>
                </div>
            </div>
            <!-- legal notice archive end -->
        </main>
        <!-- footer part -->
        <%- include('footer') %>