<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/telecom1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __('practice_detail_telecom.page_title') %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <section class="practice-detail-section">
        <div class="container">
            <div class="practice-inner-detail">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="right-sidebar">
                            <h3 class="practice-title">
                                <%= __('practice_detail_telecom.title') %>
                            </h3>
                            <figure class="practice-img">
                                <img src="/images/telecom2.jpg" alt="<%= __('practice_detail_telecom.title') %>">
                            </figure>
                            <p class="practice-paragraph">
                                <%= __('practice_detail_telecom.intro_1') %>
                            </p>
                            <p class="practice-paragraph">
                                <%= __('practice_detail_telecom.intro_2') %>
                            </p>
                            <article class="practice-summary">
                                <h5 class="practice-summary-title">
                                    <%= __('practice_detail_telecom.expertise_title') %>
                                </h5>
                                <p>
                                    <%= __('practice_detail_telecom.expertise_text') %>
                                </p>
                                <div class="practical-summary-wrapper">
                                    <figure class="practical-summary-img">
                                        <img src="/images/telecom3.jpg" alt="<%= __('practice_detail_telecom.title') %>">
                                    </figure>
                                    <div class="practical-summary-info">
                                        <p>
                                            <%= __('practice_detail_telecom.approach_text') %>
                                        </p>

                                        <p>
                                            <%= __('practice_detail_telecom.services_title') %>
                                        </p>
                                        <ul>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                <%= __('practice_detail_telecom.service_1') %>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                <%= __('practice_detail_telecom.service_2') %>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                <%= __('practice_detail_telecom.service_3') %>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                <%= __('practice_detail_telecom.service_4') %>
                                            </li>
                                            <li>
                                                <i aria-hidden="true" class="fas fa-dot-circle"></i>
                                                <%= __('practice_detail_telecom.service_5') %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="left-sidebar">
                            <div class="widget-bg faq-widget">
                                <h5 class="bg-title"><%= __('practice_detail_telecom.process_title') %></h5>
                                <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                    <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                        <div class="card-header" role="tab" id="qus-A">
                                            <h6 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                    <%= __('practice_detail_telecom.process_1_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                            <div class="card-body">
                                                <%= __('practice_detail_telecom.process_1_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                        <div class="card-header" role="tab" id="qus-B">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                    <%= __('practice_detail_telecom.process_2_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                            <div class="card-body">
                                                <%= __('practice_detail_telecom.process_2_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                        <div class="card-header" role="tab" id="qus-C">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                    <%= __('practice_detail_telecom.process_3_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                            <div class="card-body">
                                                <%= __('practice_detail_telecom.process_3_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget-bg icon-list-content">
                                <h5 class="bg-title"><%= __('practice_detail_telecom.other_practices') %></h5>
                                <ul>
                                    <li>
                                        <a href="/practice-area-mines"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <%= __('services.mining') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-ohada"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <%= __('services.ohada') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-assurances"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <%= __('services.insurance') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-immobilier"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <%= __('services.real_estate') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-droits-homme"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> <%= __('services.family') %></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-bg sidebar-contact">
                                <div class="overlay"></div>
                                <h5><%= __('practice_detail_telecom.sidebar_title') %></h5>
                                <p>
                                    <%= __('practice_detail_telecom.sidebar_text') %>
                                </p>
                                <a href="tel:+243995482416">
                                    <h6>
                                        <%= __('practice_detail_telecom.sidebar_call') %>
                                        <span>+243 995 482 416</span>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>