<%- include('header') %>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(/images/family1.jpg);">
            <div class="overlay balance-patten"></div>
            <div class="container">
                <div class="inner-banner-content">
                    <!-- <h1 class="inner-title"><%= __('practice_detail_family.page_title') %></h1> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <section class="practice-detail-section">
        <div class="container">
            <div class="practice-inner-detail">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="right-sidebar">
                            <h3 class="practice-title">
                                <%= __('practice_detail_family.title') %>
                            </h3>
                            <figure class="practice-img">
                                <img src="/images/family2.jpg" alt="<%= __('practice_detail_family.title') %>">
                            </figure>
                            <p class="practice-paragraph">
                                <%= __('practice_detail_family.intro_1') %>
                            </p>
                            <p class="practice-paragraph">
                                <%= __('practice_detail_family.intro_2') %>
                            </p>
                            <article class="practice-summary">
                                <h5 class="practice-summary-title">
                                    <%= __('practice_detail_family.expertise_title') %>
                                </h5>
                                <p>
                                    <%= __('practice_detail_family.expertise_text') %>
                                </p>
                                <div class="practical-summary-wrapper">
                                    <figure class="practical-summary-img">
                                        <img src="/images/family3.jpg" alt="<%= __('practice_detail_family.title') %>">
                                    </figure>
                                    <div class="practical-summary-info">
                                        <p>
                                            <%= __('practice_detail_family.approach_text') %>
                                        </p>

                                        <p>
                                            <%= __('practice_detail_family.services_title') %>
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fas fa-heart-broken"></i>
                                                <%= __('practice_detail_family.service_1') %>
                                            </li>
                                            <li>
                                                <i class="fas fa-home"></i>
                                                <%= __('practice_detail_family.service_2') %>
                                            </li>
                                            <li>
                                                <i class="fas fa-child"></i>
                                                <%= __('practice_detail_family.service_3') %>
                                            </li>
                                            <li>
                                                <i class="fas fa-handshake"></i>
                                                <%= __('practice_detail_family.service_4') %>
                                            </li>
                                            <li>
                                                <i class="fas fa-balance-scale"></i>
                                                <%= __('practice_detail_family.service_5') %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            
                            <!-- Section Types of Divorce -->
                            <div class="divorce-types mt-5">
                                <h5 class="section-subtitle"><%= __('practice_detail_family.divorce_title') %></h5>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="divorce-type-card">
                                            <h6><i class="fas fa-handshake"></i> <%= __('practice_detail_family.divorce_1_title') %></h6>
                                            <p><%= __('practice_detail_family.divorce_1_desc') %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="divorce-type-card">
                                            <h6><i class="fas fa-gavel"></i> <%= __('practice_detail_family.divorce_2_title') %></h6>
                                            <p><%= __('practice_detail_family.divorce_2_desc') %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="divorce-type-card">
                                            <h6><i class="fas fa-user-clock"></i> <%= __('practice_detail_family.divorce_3_title') %></h6>
                                            <p><%= __('practice_detail_family.divorce_3_desc') %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="divorce-type-card">
                                            <h6><i class="fas fa-user-secret"></i> <%= __('practice_detail_family.divorce_4_title') %></h6>
                                            <p><%= __('practice_detail_family.divorce_4_desc') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Section Financial Aspects -->
                            <div class="financial-aspects mt-4">
                                <h5 class="section-subtitle"><%= __('practice_detail_family.financial_title') %></h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="financial-list">
                                            <li><i class="fas fa-coins"></i> <%- __('practice_detail_family.financial_1') %></li>
                                            <li><i class="fas fa-home"></i> <%- __('practice_detail_family.financial_2') %></li>
                                            <li><i class="fas fa-university"></i> <%- __('practice_detail_family.financial_3') %></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="financial-list">
                                            <li><i class="fas fa-child"></i> <%- __('practice_detail_family.financial_4') %></li>
                                            <li><i class="fas fa-file-invoice-dollar"></i> <%- __('practice_detail_family.financial_5') %></li>
                                            <li><i class="fas fa-retirement"></i> <%- __('practice_detail_family.financial_6') %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="left-sidebar">
                            <div class="widget-bg faq-widget">
                                <h5 class="bg-title"><%= __('practice_detail_family.process_title') %></h5>
                                <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                    <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                        <div class="card-header" role="tab" id="qus-A">
                                            <h6 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                    <%= __('practice_detail_family.process_1_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                            <div class="card-body">
                                                <%= __('practice_detail_family.process_1_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                        <div class="card-header" role="tab" id="qus-B">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                    <%= __('practice_detail_family.process_2_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                            <div class="card-body">
                                                <%= __('practice_detail_family.process_2_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                        <div class="card-header" role="tab" id="qus-C">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                    <%= __('practice_detail_family.process_3_title') %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                            <div class="card-body">
                                                <%= __('practice_detail_family.process_3_desc') %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget-bg icon-list-content">
                                <h5 class="bg-title"><%= __('practice_detail_family.other_practices') %></h5>
                                <ul>
                                    <li>
                                        <a href="/practice-area-mines"><i class="fas fa-mountain"></i> <%= __('services.mining') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-ohada"><i class="fas fa-balance-scale"></i> <%= __('services.ohada') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-assurances"><i class="fas fa-shield-alt"></i> <%= __('services.insurance') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-immobilier"><i class="fas fa-home"></i> <%= __('services.real_estate') %></a>
                                    </li>
                                    <!-- <li>
                                        <a href="/practice-area-droits-homme"><i class="fas fa-handshake"></i> <%= __('services.family') %></a>
                                    </li> -->
                                    <li>
                                        <a href="/practice-area-detail"><i class="fas fa-briefcase"></i> <%= __('services.commercial') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-pret-prive"><i class="fas fa-landmark"></i> <%= __('services.banking') %></a>
                                    </li>
                                    <li>
                                        <a href="/practice-area-corporatif"><i class="fas fa-building"></i> <%= __('services.agricultural') %></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-bg sidebar-contact">
                                <div class="overlay"></div>
                                <h5><%= __('practice_detail_family.sidebar_title') %></h5>
                                <p>
                                    <%= __('practice_detail_family.sidebar_text') %>
                                </p>
                                <div class="contact-options">
                                    <a href="tel:+243972038147" class="contact-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        <span>+243 972 038 147</span>
                                    </a>
                                    <a href="tel:+243999632302" class="contact-phone mt-2">
                                        <i class="fas fa-phone-alt"></i>
                                        <span>+243 999 632 302</span>
                                    </a>
                                    <a href="/reservation" class="btn-appointment mt-3">
                                        <i class="fas fa-calendar-alt"></i> <%= __('practice_detail_family.sidebar_appointment') %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>