<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/droitMinier3.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <!-- <h1 class="inner-title"><%= __('practice_detail_mining.page_title') %></h1> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <section class="practice-detail-section">
            <div class="container">
                <div class="practice-inner-detail">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="right-sidebar">
                                <h3 class="practice-title">
                                    <%= __('practice_detail_mining.title') %>
                                </h3>
                                <figure class="practice-img">
                                    <img src="/images/DroitMinierUpdate.jpg" alt="<%= __('practice_detail_mining.title') %>">
                                </figure>
                                <p class="practice-paragraph">
                                    <%= __('practice_detail_mining.intro_1') %>
                                </p>
                                <p class="practice-paragraph">
                                    <%= __('practice_detail_mining.intro_2') %>
                                </p>
                                <article class="practice-summary">
                                    <h5 class="practice-summary-title">
                                        <%= __('practice_detail_mining.expertise_title') %>
                                    </h5>
                                    <p>
                                        <%= __('practice_detail_mining.expertise_text') %>
                                    </p>
                                    <div class="practical-summary-wrapper">
                                        <figure class="practical-summary-img">
                                            <img src="/images/DroitMinierCarte.jpg" alt="<%= __('practice_detail_mining.title') %>">
                                        </figure>
                                        <div class="practical-summary-info">
                                            <p>
                                                <%= __('practice_detail_mining.approach_text') %>
                                            </p>

                                            <p>
                                                <%= __('practice_detail_mining.services_title') %>
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-file-certificate"></i>
                                                    <%= __('practice_detail_mining.service_1') %>
                                                </li>
                                                <li>
                                                    <i class="fas fa-handshake"></i>
                                                    <%= __('practice_detail_mining.service_2') %>
                                                </li>
                                                <li>
                                                    <i class="fas fa-users"></i>
                                                    <%= __('practice_detail_mining.service_3') %>
                                                </li>
                                                <li>
                                                    <i class="fas fa-chart-line"></i>
                                                    <%= __('practice_detail_mining.service_4') %>
                                                </li>
                                                <li>
                                                    <i class="fas fa-gavel"></i>
                                                    <%= __('practice_detail_mining.service_5') %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                                
                                <!-- Section Contact Action -->
                                <div class="practice-action mt-5">
                                    <div class="action-card">
                                        <h5 class="action-title">
                                            <%= __('practice_detail_mining.action_title') %>
                                        </h5>
                                        <p>
                                            <%= __('practice_detail_mining.action_text') %>
                                        </p>
                                        <div class="action-buttons">
                                            <a href="/contact" class="btn btn-primary">
                                                <i class="fas fa-envelope"></i> <%= __('practice_detail_mining.action_contact') %>
                                            </a>
                                            <a href="/reservation" class="btn btn-secondary">
                                                <i class="fas fa-calendar-check"></i> <%= __('practice_detail_mining.action_appointment') %>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="left-sidebar">
                                <div class="widget-bg faq-widget">
                                    <h5 class="bg-title"><%= __('practice_detail_mining.process_title') %></h5>
                                    <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                        <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="accordion-A">
                                            <div class="card-header" role="tab" id="qus-A">
                                                <h6 class="mb-0">
                                                    <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                        <%= __('practice_detail_mining.process_1_title') %>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                                <div class="card-body">
                                                    <%= __('practice_detail_mining.process_1_desc') %>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-B">
                                            <div class="card-header" role="tab" id="qus-B">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                        <%= __('practice_detail_mining.process_2_title') %>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                                <div class="card-body">
                                                    <%= __('practice_detail_mining.process_2_desc') %>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="accordion-C">
                                            <div class="card-header" role="tab" id="qus-C">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                        <%= __('practice_detail_mining.process_3_title') %>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                                <div class="card-body">
                                                    <%= __('practice_detail_mining.process_3_desc') %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-bg icon-list-content">
                                    <h5 class="bg-title"><%= __('practice_detail_mining.other_practices') %></h5>
                                    <ul>
                                        <li>
                                            <a href="/practice-area-ohada"><i class="fas fa-balance-scale"></i> <%= __('services.ohada') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-immobilier"><i class="fas fa-home"></i> <%= __('services.real_estate') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-detail"><i class="fas fa-briefcase"></i> <%= __('services.commercial') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-corporatif"><i class="fas fa-building"></i> <%= __('services.agricultural') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-assurances"><i class="fas fa-shield-alt"></i> <%= __('services.insurance') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-droits-homme"><i class="fas fa-handshake"></i> <%= __('services.family') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-ecommerce"><i class="fas fa-shopping-cart"></i> <%= __('services.telecom') %></a>
                                        </li>
                                        <li>
                                            <a href="/practice-area-pret-prive"><i class="fas fa-hand-holding-usd"></i> <%= __('services.banking') %></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget-bg sidebar-contact">
                                    <div class="overlay"></div>
                                    <h5><%= __('practice_detail_mining.sidebar_title') %></h5>
                                    <p>
                                        <%= __('practice_detail_mining.sidebar_text') %>
                                    </p>
                                    <div class="contact-options">
                                        <a href="tel:+243995482416" class="contact-phone">
                                            <i class="fas fa-phone-alt"></i>
                                            <span>+243 995 482 416</span>
                                        </a>
                                        <a href="tel:+243810369919" class="contact-phone mt-2">
                                            <i class="fas fa-phone-alt"></i>
                                            <span>+243 810 369 919</span>
                                        </a>
                                        <a href="/faq" class="btn-appointment mt-3">
                                            <i class="fas fa-question-circle"></i> <%= __('practice_detail_mining.sidebar_faq') %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer part -->
<%- include('footer') %>