<%- include('header') %>
    <main id="content" class="site-main">
        <!-- Inner Banner html start-->
        <section class="inner-banner-wrap">
            <div class="inner-baner-container" style="background-image: url(/images/principal1.jpg);">
                <div class="overlay balance-patten"></div>
                <div class="container">
                    <div class="inner-banner-content">
                        <!-- <h1 class="inner-title"><%= __("reservation_page.title") %></h1> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Banner html end-->
        <!-- reservation html -->
        <div class="reservation-page-section">
            <div class="container">
                <form method="post" action="/reservation" class="reservation-form">
                    <div class="reservation-detais form-inner">
                        <h3><%= __("reservation_page.your_information") %></h3>
                        
                        <div class="row form-wrap">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="text" name="firstname" id="firstname" placeholder="<%= __("reservation_page.firstname") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="text" name="lastname" id="lastname" placeholder="<%= __("reservation_page.lastname") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="text" name="middlename" id="middlename" placeholder="<%= __("reservation_page.middlename") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="email" name="email" id="email" placeholder="<%= __("reservation_page.email") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="text" name="address" id="address" placeholder="<%= __("reservation_page.address") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="tel" name="phone-no" id="phone-no" placeholder="<%= __("reservation_page.phone") %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="date" name="date" id="date" 
                                    value="<%= new Date().toISOString().split('T')[0] %>"
                                    placeholder="<%= new Date().toLocaleDateString(locale === 'en' ? 'en-US' : 'fr-FR', { 
                                        day: 'numeric', 
                                        month: 'long', 
                                        year: 'numeric' 
                                    }) %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <input type="time" name="time" id="time" 
                                    value="<%= 
                                        // Format HH:MM pour l'input time
                                        new Date().getHours().toString().padStart(2, '0') + ':' + 
                                        new Date().getMinutes().toString().padStart(2, '0')
                                    %>"
                                    placeholder="<%= new Date().toLocaleTimeString(locale === 'en' ? 'en-US' : 'fr-FR', { 
                                        hour: '2-digit', 
                                        minute: '2-digit',
                                        hour12: locale === 'en' ? true : false 
                                    }) %>">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                <!-- Espace vide intentionnel -->
                            </div>
                            <div class="col-lg-12 col-12 form-group">
                                <textarea rows="7" name="note" id="note" placeholder="<%= __("reservation_page.case_description") %>"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="button-primary"><%= __("reservation_page.submit") %></button> 
                </form>
                
            </div>
        </div>
    </main>
    <!-- footer part -->
<%- include('footer') %>